@import url('https://fonts.googleapis.com/css?family=Jura|Teko&display=swap');

body {
    max-width: 980px;
    margin: auto;
}

header {
    background: url(../img/background.jpg);
    height: 570px;
}

#nav {
    height: 100px;
    display: flex;
}
.logo {
    font-family: 'Teko', sans-serif;
    font-size: 3rem;
    color: rgba(255,255,255,1);
    background-color: rgba(0,0,0,0.3);
    width: 50%;
    height: 100px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background:  rgba(255,255,255,0.5);
    height: 100px;
    width: 100%;
    margin: 0;
}

.menu a {
    text-decoration: none;
    color:black;
    padding: 0.2rem;
    font-family:'Teko', sans-serif; 
    font-size: 1rem;
    border: 1px solid rgba(255,255,255,0);
    margin: 2rem;
}

.menu a:hover {
    border: 1px solid rgb(75, 75, 75);
    border-radius: 3px; 
}

#home_text {
    font-size: 1.1rem;
    font-family: 'Jura', sans-serif;
    background: white;
    width: 500px ;
    height: 110px;
    display: flex;
    align-items: center;
    opacity: 0.9;
    margin: 8rem 3rem ;
    padding: 1rem;
    border-radius: 15px;
}

#home_img {
    position: relative;
    left:640px;
    top:-430px  
}