@import url('https://fonts.googleapis.com/css?family=Jura|Teko&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
    max-width: 980px;
    margin: auto;
}

header {
    background: url(../img/background.jpg);
    height: 570px;
}

#nav {
    height: 100px;
    display: flex;
}
.logo {
    font-family: 'Teko', sans-serif;
    font-size: 3rem;
    color: rgba(255,255,255,1);
    background-color: rgba(0,0,0,0.3);
    width: 50%;
    height: 100px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background:  rgba(255,255,255,0.5);
    height: 100px;
    width: 100%;
    margin: 0;
}

.menu a {
    text-decoration: none;
    color:black;
    padding: 0.2rem;
    font-family: 'Comfortaa', cursive;
    font-size: 1rem;
    border: 1px solid rgba(255,255,255,0);
    margin: 1rem;
}

.menu a:hover {
    border: 1px solid rgb(75, 75, 75);
    border-radius: 3px; 
}

#home_text {
    font-size: 1.1rem;
    font-family: 'Jura', sans-serif;
    background: white;
    width: 500px ;
    height: 110px;
    display: flex;
    align-items: center;
    opacity: 0.9;
    margin: 8rem 3rem ;
    padding: 1rem;
    border-radius: 15px;
}

#home_img {
    position: relative;
    left:640px;
    top:-430px  
}

#offers {
    height: ;
}

.title_offers {
    display: flex;
    justify-content: center;
    font-family: 'Comfortaa', cursive;
    margin: 2rem;
}

#title_portfolio {
    display: flex;
    justify-content: center;
    font-family: 'Comfortaa', cursive;
    margin: 2rem;
}

#portfolio {
    background: url(../img/background.jpg);
    height: 570px;
}

#title_form {
    display: flex;
    justify-content: center;
    font-family: 'Comfortaa', cursive;
    margin: 2rem;
}

#contact form{
    height: 500px;

}

#form {
    width: 250px;
    margin: 1rem;
    box-sizing: border-box;
    border: 1.5px solid black;
    font-family: 'Montserrat', sans-serif;
    padding: 1.5rem;  
    flex-direction: column;
    display: flex; 
}

#button {
    margin: 0 2.5rem;
    background-color: #555555; /* Green */
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 14px;
}